{{ define "header" }}
<div class="header-area">
  <div class="row align-items-center">
    <!-- nav and search button -->
    <div class="col-md-6 col-sm-8 clearfix">
      <div class="nav-btn pull-left">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="search-box pull-left">
      </div>
    </div>
    <!-- profile info & task notification -->
    <div class="col-md-6 col-sm-4 clearfix">
      <ul class="notification-area pull-right">
        <li class="">
          <a href="/logout" style="color:gray;"><span class="fa fa-sign-out"></span>  로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{ end }}