{{ define "side" }}
<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a href="#" style="color:white;font-size:17px;">DCCaffe<br />Web Manager</a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li {{if eq .PageName "index"}}class="active"{{end}}>
            <a href="/" aria-expanded="true"><i class="ti-dashboard"></i><span>홈</span></a>
          </li>
          <li {{if and (eq .PageName "user_regist") (eq .PageName "user_list")}}class="active"{{end}}>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>사용자 관리</span></a>
            <ul class="collapse">
              <li {{if eq .PageName "user_regit"}}class="active"{{end}}><a href="user_regist">사용자 등록</a></li>
              <li {{if eq .PageName "user_list"}}class="active"{{end}}><a href="user_manage">사용자 수정/삭제</a></li>
            </ul>
          </li>
          <li {{if and (eq .PageName "menu_manage") (eq .PageName "cancel_order_manage")}}class="active"{{end}}>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pencil-alt"></i><span>카페 관리</span></a>
            <ul class="collapse">
              <li {{if eq .PageName "menu_manage"}}class="active"{{end}}><a href="menu_manage">카테고리/메뉴 관리</a></li>
              <li {{if eq .PageName "cancel_order_manage"}}class="active"{{end}}><a href="cancel_order_manage">주문취소 관리</a></li>
            </ul>
          </li>
          <li {{if and (eq .PageName "bill") (eq .PageName "customer_bill")}}class="activie" {{ end }}>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>카페 통계</span></a>
            <ul class="collapse">
              <li {{if eq .PageName "bill"}}class="active"{{end}}><a href="bill">월말공제정산</a></li>
              <li {{if eq .PageName "customer_bill"}}class="active"{{end}}><a href="customer_bill">손님결제정산</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{{ end }}