{{ define "content" }}
  <!-- page title area start -->
  <div class="page-title-area">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix">
          <h4 class="page-title pull-left">주문취소 관리</h4>
          <ul class="breadcrumbs pull-left">
            <li><a href="/index.html">카페 관리</a></li>
            <li><span>주문취소 관리</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 clearfix">
        <div class="user-profile pull-right">
          <img class="avatar user-thumb" src="/static/images/author/avatar.png" alt="avatar">
          <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ .UserName }}<i class="fa fa-angle-down"></i></h4>
        </div>
      </div>
    </div>
  </div>
  <!-- page title area end -->
  <div class="main-content-inner">
    <!-- visitor graph area start -->
    <div class="card mt-5">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-5">
          <h4 class="header-title mb-0">홈</h4>
        </div>
        <!--  div id="visitor_graph"></div-->
        <p>DC Cafe Web Manager를 이용해주셔서 감사합니다.</p>
      </div>
    </div>
  </div>
{{ end }}