<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DCCaffe Web Manager</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/metisMenu.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
  </header>
  <body style="overflow:hidden;">
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- login area -->
    <div class="login-area login-s2">
      <div class="container">
        <br />
        <div class="login-box ptb--100">
          <form>
            <div class="login-form-head">
              <img src="static/images/digicap_logo.png" />
              <br />
              <br />
              <br />
              <p><b>DCCaffe Web Manager</b>에 방문해주셔서 감사합니다.</p>
              <p>관리자 계정을 입력해 주세요.</p>
            </div>
            <div class="login-form-body">
              <div class="form-gp">
                <label for="exampleInputEmail1">ID</label>
                <input type="text" id="id">
                <i class="ti-user"></i>
              </div>
              <div class="form-gp">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" id="pw">
                <i class="ti-lock"></i>
              </div>
              <div class="row mb-4 rmber-area">
              </div>
              <div class="submit-btn-area">
                <button id="form_submit" type="button" onclick="login();">로그인 <i class="ti-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- login -->

    <!-- jquery latest version -->
    <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- <script src="../static/js/vendor/modernizr-4.8.3.min.js"></script> -->

    <!-- bootstrap 4 js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="../static/js/popper.min.js"></script> -->
    <!-- <script src="../static/js/owl.carousel.min.js"></script> -->
    <script src="/static/js/metisMenu.min.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <script src="/static/js/jquery.slicknav.min.js"></script>
    
    <!-- others plugins -->
    <!-- <script src="../static/js/plugins.js"></script> -->
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/sha256-0.0.1.js"></script>
    <script>
      function login() {
        $.ajax({
          url: "/login",
          type: "post",
          data: {
            "user_id": document.getElementById("id").value,
            "user_pw" : sha256(document.getElementById("pw").value)
          },
          dataType: "json",
          error: function(xhr, ajaxOptions, thrownError) {
            /*
              $('.modal-login .form-global-error.cloaked > .message').text("오류가 발생했습니다. 다시 요청해 주세요.");
              $('.modal-login .form-global-error.cloaked').show();
              $('.modal-login .form-global-error.cloaked').css("opacity", 0);
              $('.modal-login .form-global-error.cloaked').animate({"opacity":1});
            */
          },
          success: function(data) {
            if (data.result == 'success') {
					    location.href = "/";
            } else {
					    alert("로그인에 실패하였습니다. : " + data.code + "");	                	
            }
          }
        });
      } 
    </script>
  </body>
</html>